
/论文复现《数据驱动的动力学系统建模及控制策略研究》/Control_Solution/Control_DDPG/Achieves
/论文复现《数据驱动的动力学系统建模及控制策略研究》/Control_Solution/Control_LQR_DDPG/Achieves
/论文复现《数据驱动的动力学系统建模及控制策略研究》/毕设代码
论文复现《数据驱动的动力学系统建模及控制策略研究》/毕设代码.zip
/电磁式阻尼器PID控制器/Matlab&Simulink仿真/归档/slprj/sim/varcache
/电磁式阻尼器PID控制器/Matlab&Simulink仿真/slprj/sim/varcache
/电磁式阻尼器PID控制器/Matlab&Simulink仿真/二自由度仿真/slprj
/电磁式阻尼器PID控制器/Matlab&Simulink仿真/归档
/电磁式阻尼器PID控制器/Matlab&Simulink仿真/二自由度仿真/学长仿真版本
/电磁式阻尼器PID控制器/Matlab&Simulink仿真/二自由度仿真/结果
/电磁式阻尼器PID控制器/Matlab&Simulink仿真/单自由度仿真/slprj
/电磁式阻尼器PID控制器/Matlab&Simulink仿真/二自由度仿真/slprj
/电磁式阻尼器PID控制器/Matlab&Simulink仿真/二自由度仿真/slprj
/电磁式阻尼器PID控制器/Matlab&Simulink仿真/二自由度仿真/slprj/sim
电磁式阻尼器PID控制器/Matlab&Simulink仿真/二自由度仿真/slprj/sim/varcache/MS_Model/checksumOfCache.mat
电磁式阻尼器PID控制器/Matlab&Simulink仿真/二自由度仿真/slprj/sim/varcache/MS_Model/tmwinternal/simulink_cache.xml
/日常练习/resoures
/电磁式阻尼器PID控制器/Matlab&Simulink仿真/二自由度仿真/slprj
/电磁式阻尼器PID控制器/Matlab&Simulink仿真/二自由度仿真/slprj/sim/varcache/MS_Model
电磁式阻尼器PID控制器/Matlab&Simulink仿真/二自由度仿真/slprj/sim/varcache/MS_Model/checksumOfCache.mat
电磁式阻尼器PID控制器/Matlab&Simulink仿真/二自由度仿真/slprj/sim/varcache/MS_Model/checksumOfCache.mat
电磁式阻尼器PID控制器/Matlab&Simulink仿真/二自由度仿真/slprj/sim/varcache/MS_Model/varInfo.mat
电磁式阻尼器PID控制器/Matlab&Simulink仿真/二自由度仿真/slprj/sim/varcache/MS_Model/tmwinternal/simulink_cache.xml
电磁式阻尼器PID控制器/Matlab&Simulink仿真/二自由度仿真/slprj/sim/varcache/MS_Model/checksumOfCache.mat
电磁式阻尼器PID控制器/Matlab&Simulink仿真/二自由度仿真/slprj/sim/varcache/MS_Model/varInfo.mat
*.pyc
/电磁式阻尼器PID控制器/DDPG仿真实验/saved_models
*.slxc
*.xml
*.mat
/电磁式阻尼器PID控制器/DDPG仿真实验/saved_plots
/电磁式阻尼器PID控制器/DDPG仿真实验/savedata
/电磁式阻尼器深度强化学习/savedata
/电磁式阻尼器PID控制器/Matlab&Simulink仿真/单自由度仿真/结果
论文复现《数据驱动的非线性振动系统辨识与控制研究》/数据驱动的非线性振动系统辨识与控制研究_批注.docx
论文复现《数据驱动的非线性振动系统辨识与控制研究》/数据驱动的非线性振动系统辨识与控制研究_批注.docx
